<!DOCTYPE html>
<html>
<head>
  <title>Link Roblox Account</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Link Your Roblox Account</h1>
  <form method="POST" action="/link">
    <label>Enter Website Account ID:</label>
    <input type="text" name="websiteUserId" required><br><br>
    <label>Enter Code From Roblox:</label>
    <input type="text" name="code" required><br><br>
    <button type="submit">Link Account</button>
  </form>
</body>
</html>
